[Desktop Entry]
Type=Application
Version=0.0.0
Name=ntts-dart
GenericName=General Application
Exec=ntts-dart %U
Categories=Music;Media;
Keywords=Hello;World;Test;Application;
StartupNotify=true
